:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;


/* define color system for the project*/ 
  --nh-pink: #AA005C;
  --nh-green: #4C5E22;
  --nh-black: #0A0A0A;
  --nh-white: #FEFEFE;
  --nh-green-body: #2C3714;
}




body {
  margin: 0;
  background: url('../public/background.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



