:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;

}




body {
  margin: 0;
  background: url('../public/background.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



